<div class="container-fluid p-0 m-0">
  <div class="row m-0">
    <div class="col-12">
      <app-table *ngIf="notifications.length; else noData" [isLoading]="isLoadingData"
        tableTitle="Notification Configuration" subTitle="Manage System Notificatiom Service" [data]="notifications"
        [columns]="columns" (requestData)="requestData($event)" (addClicked)="createNotification()"
        (optionsSelected)="updateNotification($event)" [showEdit]="true" [showAdd]="true">
      </app-table>
    </div>
  </div>
</div>

<ng-template #noData>
  <div class="row m-0 mt-5">
    <div class="col-lg-3 col-md-4 col-8 mx-auto">
      <ng-lottie width="100%" [options]="options"> </ng-lottie>
      <h6 class="text-secondary text-center">
        {{
            !notifications.length && isLoadingData
              ? "Loading Records ..."
              : "No Data to display"
          }}
      </h6>
    </div>
  </div>
</ng-template>
