<div style="width: 100vw;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9 mx-auto">
                <nb-card class="xyz-in dialog" xyz="fade down-25%" style="max-height: 100vh; overflow-y: auto;">
                    <nb-card-header class="font-weight-bold pb-1">
                        <div class="row">
                            <div class="col-auto h6">Download</div>
                            <div class="col ml-auto text-right">
                                <button (click)="close()" class="p-1" nbButton ghost>
                                    <nb-icon icon="close"></nb-icon>
                                </button>
                            </div>
                        </div>
                    </nb-card-header>
                    <nb-card-body>
                        <form [formGroup]="billingForm"  #form="ngForm"  class="my-3">

                            <div class="form-control-group row my-3" style="display:hidden">
                                <div class="col-sm-3">
                                    <label class="label" for="input-assetType">Asset Type:</label>
                                </div>
                                <div class="col-sm-9">
                                    <nb-select *ngIf="billingForm" fullWidth placeholder="Select asset type"
                                        formControlName="assetType">
                                        <nb-option (click)="onSelectAssetType()" *ngFor="let assetType of assetTypeName; let i=index"
                                            [value]="assetType[0] + 1">{{assetType[1]}}
                                        </nb-option>
                                    </nb-select>

                                    <div *ngIf="billingForm.controls['assetType'].invalid && billingForm.controls['assetType'].touched"
                                        class="text-danger xyz-in px-3 row">
                                        <small xyz="fade down" class="error-message"
                                            *ngIf="billingForm.controls['assetType'].errors?.required">
                                            Asset type is required
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-control-group row my-3">
                                <div class="col-sm-3">
                                    <label class="label" for="input-dateRange">Date:</label>
                                </div>
                                <div class="col-sm-9">
                                    <input autocomplete="off" nbInput fullWidth name="date" id="input-dateRange"
                                        placeholder="Date :" #date [nbDatepicker]="datePicker"
                                        [status]="billingForm.controls['date'].touched ? (billingForm.controls['date'].invalid ? 'danger' : 'success') : 'basic'"
                                        formControlName="date" autofocus>
                                    <nb-datepicker #datePicker></nb-datepicker>
                                    <div *ngIf="billingForm.controls['date'].invalid && billingForm.controls['date'].touched"
                                        class="text-danger xyz-in px-3 row">
                                        <small xyz="fade down" class="error-message"
                                            *ngIf="billingForm.controls['date'].errors?.required">
                                            Date Range is required!
                                        </small>
                                    </div>
                                </div>
                            </div>

                         </form>
                    </nb-card-body>

                    <nb-card-footer>
                        <button (click)="loadTable()" nbButton fullWidth status="primary"
                            [disabled]="isLoading">
                            Confirm
                        </button>
                    </nb-card-footer>
                </nb-card>
            </div>

        </div>
    </div>
</div>