<div style="width: 100vw;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 mx-auto xyz-in dialog" xyz="fade down-25%"
                style="max-height: 100vh; overflow-y: auto;">
                <app-table [isLoading]="isLoadingData" [showAdd]="false" [pageLength]="5" [showEdit]="false"
                [data]="powerSourceGenSet" [columns]="columns" [hasCloseButton]="true"  (closed)="close()"
                tableTitle="Generating Units" subTitle="View generating units attached to {{powerSourceRowData.name}} Power Station">
              </app-table>
            </div>
        </div>
    </div>